<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<style>
  .post-content details {
    margin-bottom: 1em;
  }
  .post-content details > summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.2em 0;
  }
  .post-content details details > summary {
    font-size: 1.1em;
    margin-left: 0.5em;
  }
  .post-content figure {
    text-align: center;
    margin: 1.5em 0;
  }
  .post-content figure img {
    max-width: 100%;
  }
  .post-content figcaption {
    font-size: 0.85em;
    color: #666;
    margin-top: 0.4em;
    font-style: italic;
  }
</style>
